**Multiple Linear Regression**

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
dataset=pd.read_csv('petrol_consumption.csv')

In [4]:
dataset.shape

(48, 5)

In [5]:
dataset

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
0,9.00,3571,1976,0.525,541
1,9.00,4092,1250,0.572,524
2,9.00,3865,1586,0.580,561
3,7.50,4870,2351,0.529,414
4,8.00,4399,431,0.544,410
5,10.00,5342,1333,0.571,457
6,8.00,5319,11868,0.451,344
7,8.00,5126,2138,0.553,467
8,8.00,4447,8577,0.529,464
9,7.00,4512,8507,0.552,498
10,8.00,4391,5939,0.530,580
11,7.50,5126,14186,0.525,471
12,7.00,4817,6930,0.574,525
13,7.00,4207,6580,0.545,508
14,7.00,4332,8159,0.608,566
15,7.00,4318,10340,0.586,635
16,7.00,4206,8508,0.572,603
17,7.00,3718,4725,0.540,714
18,7.00,4716,5915,0.724,865
19,8.50,4341,6010,0.677,640
20,7.00,4593,7834,0.663,649
21,8.00,4983,602,0.602,540
22,9.00,4897,2449,0.511,464
23,9.00,4258,4686,0.517,547
24,8.50,4574,2619,0.551,460
25,9.00,3721,4746,0.544,566
26,8.00,3448,5399,0.548,577
27,7.50,3846,9061,0.579,631
28,8.00,4188,5975,0.563,574
29,9.00,3601,4650,0.493,534
30,7.00,3640,6905,0.518,571
31,7.00,3333,6594,0.513,554
32,8.00,3063,6524,0.578,577
33,7.50,3357,4121,0.547,628
34,8.00,3528,3495,0.487,487
35,6.58,3802,7834,0.629,644
36,5.00,4045,17782,0.566,640
37,7.00,3897,6385,0.586,704
38,8.50,3635,3274,0.663,648
39,7.00,4345,3905,0.672,968
40,7.00,4449,4639,0.626,587
41,7.00,3656,3985,0.563,699
42,7.00,4300,3635,0.603,632
43,7.00,3745,2611,0.508,591
44,6.00,5215,2302,0.672,782
45,9.00,4476,3942,0.571,510
46,7.00,4296,4083,0.623,610
47,7.00,5002,9794,0.593,524

Head method retrieves the first 5 records from our dataset,

In [6]:
dataset.head()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
0,9.0,3571,1976,0.525,541
1,9.0,4092,1250,0.572,524
2,9.0,3865,1586,0.580,561
3,7.5,4870,2351,0.529,414
4,8.0,4399,431,0.544,410

To see statistical details of the dataset, we can use describe():

In [7]:
dataset.describe()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
count,48.000000,48.000000,48.000000,48.000000,48.000000
mean,7.668333,4241.833333,5565.416667,0.570333,576.770833
std,0.950770,573.623768,3491.507166,0.055470,111.885816
min,5.000000,3063.000000,431.000000,0.451000,344.000000
25%,7.000000,3739.000000,3110.250000,0.529750,509.500000
50%,7.500000,4298.000000,4735.500000,0.564500,568.500000
75%,8.125000,4578.750000,7156.000000,0.595250,632.750000
max,10.000000,5342.000000,17782.000000,0.724000,968.000000

**Preparing Data**

in case of more columns for x , X = dataset.iloc[:, :-1].values

In [16]:
x=dataset.iloc[:,0:1].values
y=dataset.iloc[:,-1].values

print(y)

[541 524 561 414 410 457 344 467 464 498 580 471 525 508 566 635 603 714
 865 640 649 540 464 547 460 566 577 631 574 534 571 554 577 628 487 644
 640 704 648 968 587 699 632 591 782 510 610 524]

In [17]:
x

array([[ 9.  ],
       [ 9.  ],
       [ 9.  ],
       [ 7.5 ],
       [ 8.  ],
       [10.  ],
       [ 8.  ],
       [ 8.  ],
       [ 8.  ],
       [ 7.  ],
       [ 8.  ],
       [ 7.5 ],
       [ 7.  ],
       [ 7.  ],
       [ 7.  ],
       [ 7.  ],
       [ 7.  ],
       [ 7.  ],
       [ 7.  ],
       [ 8.5 ],
       [ 7.  ],
       [ 8.  ],
       [ 9.  ],
       [ 9.  ],
       [ 8.5 ],
       [ 9.  ],
       [ 8.  ],
       [ 7.5 ],
       [ 8.  ],
       [ 9.  ],
       [ 7.  ],
       [ 7.  ],
       [ 8.  ],
       [ 7.5 ],
       [ 8.  ],
       [ 6.58],
       [ 5.  ],
       [ 7.  ],
       [ 8.5 ],
       [ 7.  ],
       [ 7.  ],
       [ 7.  ],
       [ 7.  ],
       [ 7.  ],
       [ 6.  ],
       [ 9.  ],
       [ 7.  ],
       [ 7.  ]])

Split this data into training and test sets. We'll do this by using Scikit-Learn's built-in train_test_split() method:

In [18]:
from sklearn.model_selection import train_test_split
x_train, x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

**Train the model**

In [19]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(x_train, y_train)

LinearRegression()

In [20]:
print(regressor.intercept_)
print(regressor.coef_)

975.1739405976821
[-51.24658626]

**Making Predictions**

In [21]:
y_pred = regressor.predict(x_test)

To compare the actual output values for X_test with the predicted values, execute the following script:

In [22]:
df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
df

   Actual   Predicted
0     534  513.954664
1     410  565.201251
2     577  565.201251
3     571  616.447837
4     577  565.201251
5     704  616.447837
6     487  565.201251
7     587  616.447837
8     467  565.201251
9     580  565.201251

In [23]:
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 55.24931725228345
Mean Squared Error: 5134.365103565068
Root Mean Squared Error: 71.65448418323216

Ref:https://stackabuse.com/linear-regression-in-python-with-scikit-learn/